<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DBE48E71F635C3D0042DED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DBE49001F635C3E0042DED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DBE490B1F635C3E0042DED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
